.input_box {
  position: relative;
}

.input_box input {
  width: 100%;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color-primary);
}

.input_box span {
  position: absolute;
  left: 0;
  bottom: -5px;
  padding: 5px 0;
  pointer-events: none;
  font-size: 18px;
  font-weight: 300;
  color: #9f9f9f;
  transition: 0.3s;
}

.input_box input:focus ~ span,
.input_box input:valid ~ span {
  transform: translateY(-30px);
  font-size: 12px;
  letter-spacing: 1px;
  color: var(--color-primary);
  font-weight: 500;
}
